/*-------------------------
      1) Google Fonts 
-------------------------*/
// @import url('https://fonts.googleapis.com/css?family=Roboto');

/*-------------------------
      2) Local Fonts     
-------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
